.chat-window::-webkit-scrollbar,
.list-chat::-webkit-scrollbar,
.user-active::-webkit-scrollbar {
  display: none !important;
}
.chat-window,
.list-chat,
.user-active {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
.show-my-message {
  animation: showMyMessage 0.75s ease;
}
.show-your-message {
  animation: showYourMessage 0.75s ease;
}
@keyframes showMyMessage {
  from {
    opacity: 0;
    right: -200%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}
@keyframes showYourMessage {
  from {
    opacity: 0;
    left: -200%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}
